<?xml version="1.0"?>
<launch>

  <include file="$(find flightcontroller)/launch/fly.launch">
    <arg name="ship_velocity" default="0.1" />
    <arg name="ship_waypoints" default="[[4,4],[4,-4],[-2,-4],[-2,2],[2,2],[2,-2]]" />
    <!-- TODO: Add PID parameters as args here -->

    <arg name="logging" default="log" />
  </include>

  <node name="debug_print_node" pkg="system_tests" type="print_node.py" output="screen"/>

  <test test-name="test_spiral" pkg="system_tests" type="drone_behavior_test.py" time-limit="120.0">
    <param name="duration" type="double" value="30.0" />
    <param name="rate" type="double" value="4"/>
    <param name="pz" type="double" value="1"/>
    <param name="iz" type="double" value="0.2"/>
    <param name="dz" type="double" value="0.2"/>
    <param name="pxy" type="double" value="1"/>
    <param name="ixy" type="double" value="0.2"/>
    <param name="dxy" type="double" value="0.2"/>
  </test>

</launch>